IoT Final project/DA/node-red.json
[{"id":"3b6bed74.a1ee82","type":"inject","z":"f5d4a5e2.a35478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":320,"y":80,"wires":[["d52d8072.3a5e6"]]},{"id":"d52d8072.3a5e6","type":"oM2M-Application","z":"f5d4a5e2.a35478","xSCL":"6ddeaed2.6aed6","xA":"e38c1ca0.cb49b","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":516.0069122314453,"y":79.73961162567139,"wires":[["74e88735.e851b8"]]},{"id":"74e88735.e851b8","type":"http request","z":"f5d4a5e2.a35478","name":"","method":"POST","ret":"txt","url":"","tls":"","x":717.006950378418,"y":80.73612022399902,"wires":[["7db8f1b9.7d931"]]},{"id":"7db8f1b9.7d931","type":"debug","z":"f5d4a5e2.a35478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":921.0035095214844,"y":79.94791889190674,"wires":[]},{"id":"c0f55993.8961f8","type":"inject","z":"f5d4a5e2.a35478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":320.0624771118164,"y":147.92014408111572,"wires":[["553a5e7.354dba"]]},{"id":"e13f7c.58b24088","type":"http request","z":"f5d4a5e2.a35478","name":"","method":"POST","ret":"txt","url":"","tls":"","x":715.0694122314453,"y":145.65626430511475,"wires":[["34607be9.b49994"]]},{"id":"34607be9.b49994","type":"debug","z":"f5d4a5e2.a35478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":921.0659866333008,"y":147.86806297302246,"wires":[]},{"id":"43b892ef.2fdfcc","type":"inject","z":"f5d4a5e2.a35478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":321.06248474121094,"y":245.92015171051025,"wires":[["b7a5997c.f24c78"]]},{"id":"faec4f1a.6e4f7","type":"http request","z":"f5d4a5e2.a35478","name":"","method":"POST","ret":"txt","url":"","tls":"","x":791.0694198608398,"y":247.6562910079956,"wires":[["ca2c16c.dfdd4e8"]]},{"id":"ca2c16c.dfdd4e8","type":"debug","z":"f5d4a5e2.a35478","name":"","active":true,"console":"false","complete":"false","x":997.0659942626953,"y":249.86808967590332,"wires":[]},{"id":"553a5e7.354dba","type":"oM2M-Descriptor-Container","z":"f5d4a5e2.a35478","xSCL":"6ddeaed2.6aed6","xA":"e38c1ca0.cb49b","x":505.0000305175781,"y":147.81599140167236,"wires":[["e13f7c.58b24088"]]},{"id":"b7a5997c.f24c78","type":"oM2M-Descriptor-ContentInstance","z":"f5d4a5e2.a35478","xSCL":"9a372229.31777","xA":"dd698749.c7a0e8","obixType":"","obixLocation":"","x":546.9965286254883,"y":247.02783679962158,"wires":[["faec4f1a.6e4f7"]]},{"id":"97b9cc4b.07993","type":"inject","z":"f5d4a5e2.a35478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350.0624809265137,"y":320.9201765060425,"wires":[["982ac2af.7b38f"]]},{"id":"92256b64.e03788","type":"http request","z":"f5d4a5e2.a35478","name":"","method":"POST","ret":"txt","url":"","tls":"","x":744.0694389343262,"y":322.65632343292236,"wires":[["28b9fe5b.21fd32"]]},{"id":"28b9fe5b.21fd32","type":"debug","z":"f5d4a5e2.a35478","name":"","active":true,"console":"false","complete":"false","x":950.0660133361816,"y":324.8681221008301,"wires":[]},{"id":"dfae1cca.85fb4","type":"inject","z":"f5d4a5e2.a35478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":260,"y":420,"wires":[["fb96862f.41da78"]]},{"id":"bb819e99.708dc","type":"http request","z":"f5d4a5e2.a35478","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/FinalProject/containers/DATA/contentInstances","tls":"","x":858.0069236755371,"y":422.7361421585083,"wires":[["74228a20.a65204"]]},{"id":"74228a20.a65204","type":"debug","z":"f5d4a5e2.a35478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040.0035438537598,"y":420.94792461395264,"wires":[]},{"id":"982ac2af.7b38f","type":"oM2M-Data-Container","z":"f5d4a5e2.a35478","xSCL":"6ddeaed2.6aed6","xA":"58fc5a3f.ecbd24","maxNrOfInstances":"10","obixAnnounce":true,"x":533.0069274902344,"y":322.3924264907837,"wires":[["92256b64.e03788"]]},{"id":"fb96862f.41da78","type":"function","z":"f5d4a5e2.a35478","name":"My Data","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data: '\"{\"db\":0}\"',\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":421.930606842041,"y":419.9896650314331,"wires":[["ceefd080.e23a8"]]},{"id":"ceefd080.e23a8","type":"oM2M-Data-ContentInstance","z":"f5d4a5e2.a35478","xSCL":"6ddeaed2.6aed6","xA":"e38c1ca0.cb49b","obixCategory":"","x":660,"y":420,"wires":[["bb819e99.708dc"]]},{"id":"3dc5d2c7.51ad4e","type":"http in","z":"f5d4a5e2.a35478","name":"send data","url":"/SendData","method":"post","upload":false,"swaggerDoc":"","x":252.93751907348633,"y":487.0798816680908,"wires":[["8d74d6e0.1d6658"]]},{"id":"8d74d6e0.1d6658","type":"function","z":"f5d4a5e2.a35478","name":"","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data: msg.payload.data\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":413.9375190734863,"y":490.0798816680908,"wires":[["ceefd080.e23a8","b3010a07.adabb8"]]},{"id":"b3010a07.adabb8","type":"http response","z":"f5d4a5e2.a35478","name":"","statusCode":"","headers":{},"x":647.9375190734863,"y":482.0798816680908,"wires":[]},{"id":"6ddeaed2.6aed6","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"e38c1ca0.cb49b","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"},{"id":"9a372229.31777","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"dd698749.c7a0e8","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"},{"id":"58fc5a3f.ecbd24","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"}]