LAB4/LAB4 NA.json
[{"id":"736e4dd1.629884","type":"tab","label":"LAB4 NA","disabled":false,"info":""},{"id":"ec7c2369.7a44b","type":"inject","z":"736e4dd1.629884","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.66667175292969,"y":73,"wires":[["4581c105.73c44"]]},{"id":"4581c105.73c44","type":"oM2M-Application","z":"736e4dd1.629884","xSCL":"2c6d4ef.763beb2","xA":"ffb9bcd.1516c4","obixType":"Network Application","obixCategory":"demo","obixLocation":"Internet cloud","obixAnnounce":true,"x":290.6666946411133,"y":71.00000190734863,"wires":[["256ed58.5460b2a"]]},{"id":"256ed58.5460b2a","type":"http request","z":"736e4dd1.629884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":465.66668701171875,"y":71,"wires":[["384104ff.f3d57c"]]},{"id":"384104ff.f3d57c","type":"debug","z":"736e4dd1.629884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":641.6666870117188,"y":68,"wires":[]},{"id":"d84a6fc4.e2ec6","type":"inject","z":"736e4dd1.629884","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123.66667175292969,"y":155,"wires":[["8e3e44dc.dc8158"]]},{"id":"8e3e44dc.dc8158","type":"oM2M-Subscription","z":"736e4dd1.629884","xSCL":"2c6d4ef.763beb2","xA":"ffb9bcd.1516c4","contactPath":"/notification","filterType":"","filterCriteria":"content","x":301.6666946411133,"y":147.00000381469727,"wires":[["1a24fc4.cb4c504"]]},{"id":"6e7a0c70.ad9ed4","type":"debug","z":"736e4dd1.629884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680.6666870117188,"y":143.00000381469727,"wires":[]},{"id":"1a24fc4.cb4c504","type":"http request","z":"736e4dd1.629884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":488.6666793823242,"y":142.00000381469727,"wires":[["6e7a0c70.ad9ed4"]]},{"id":"dfd19160.33f8e","type":"xml","z":"736e4dd1.629884","name":"","property":"payload","attr":"","chr":"","x":393.6666946411133,"y":237.00000667572021,"wires":[["a790c84.008c438"]]},{"id":"942d3a95.28e938","type":"http response","z":"736e4dd1.629884","name":"","statusCode":"","headers":{},"x":411.6666946411133,"y":319.00000953674316,"wires":[]},{"id":"a790c84.008c438","type":"function","z":"736e4dd1.629884","name":"extact data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":560.6666793823242,"y":235.00000667572021,"wires":[["e1a4deff.ffaaa","f5366e73.0f143"]]},{"id":"e1a4deff.ffaaa","type":"debug","z":"736e4dd1.629884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.6666870117188,"y":221.0000057220459,"wires":[]},{"id":"2d10f38e.6d974c","type":"http in","z":"736e4dd1.629884","name":"Listen to HTTP notification","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":159.6666717529297,"y":246.00000762939453,"wires":[["dfd19160.33f8e","942d3a95.28e938"]]},{"id":"f5366e73.0f143","type":"file","z":"736e4dd1.629884","name":"","filename":"C:\\Users\\Yosoro\\Desktop\\notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":676.6666870117188,"y":303.00000953674316,"wires":[["18503b7e.20b785"]]},{"id":"79db7944.8135a8","type":"http in","z":"736e4dd1.629884","name":"Read XML file via HTTP get","url":"/readSensorData","method":"get","upload":false,"swaggerDoc":"","x":161.6666717529297,"y":378,"wires":[["514005bc.0969bc"]]},{"id":"514005bc.0969bc","type":"file in","z":"736e4dd1.629884","name":"","filename":"C:\\Users\\Yosoro\\Desktop\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":487.66667556762695,"y":373.0000114440918,"wires":[["33249c38.4cc484"]]},{"id":"33249c38.4cc484","type":"xml","z":"736e4dd1.629884","name":"","property":"payload","attr":"","chr":"","x":666.6666870117188,"y":383.0000114440918,"wires":[["95e877ef.83d638"]]},{"id":"95e877ef.83d638","type":"http response","z":"736e4dd1.629884","name":"","statusCode":"","headers":{},"x":806.666690826416,"y":387.0000114440918,"wires":[]},{"id":"18503b7e.20b785","type":"debug","z":"736e4dd1.629884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":872.666690826416,"y":303.00000953674316,"wires":[]},{"id":"7b575eb.7a212a","type":"http in","z":"736e4dd1.629884","name":"HTTP GET","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":127.66667175292969,"y":492,"wires":[["5826ef71.bdf99"]]},{"id":"5826ef71.bdf99","type":"file in","z":"736e4dd1.629884","name":"","filename":"C:\\Users\\Yosoro\\Desktop\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":385.66668701171875,"y":490,"wires":[["356f01e7.7550ce"]]},{"id":"356f01e7.7550ce","type":"xml","z":"736e4dd1.629884","name":"","property":"payload","attr":"","chr":"","x":627.6666870117188,"y":486,"wires":[["4690ccf0.f1dcf4"]]},{"id":"4690ccf0.f1dcf4","type":"json","z":"736e4dd1.629884","name":"","property":"payload","action":"","pretty":false,"x":778.6666870117188,"y":486.00001430511475,"wires":[["a90d2a1e.fa8948"]]},{"id":"a90d2a1e.fa8948","type":"function","z":"736e4dd1.629884","name":"function parse XML","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = {\n\"latitude\":latitude,\n\"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":563.6666870117188,"y":571,"wires":[["77dba13a.b1e93","b7f1be1a.699c9"]]},{"id":"77dba13a.b1e93","type":"http response","z":"736e4dd1.629884","name":"","statusCode":"","headers":{},"x":764.6666870117188,"y":567,"wires":[]},{"id":"b7f1be1a.699c9","type":"debug","z":"736e4dd1.629884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":753.6666870117188,"y":626,"wires":[]},{"id":"2c6d4ef.763beb2","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"ffb9bcd.1516c4","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]