LAB3/GSCL.json
[{"id":"759a2133.598a9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a3346e1e.43394","type":"inject","z":"759a2133.598a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97.66669082641602,"y":146.00000381469727,"wires":[["a4c19abc.745f28"]]},{"id":"a4c19abc.745f28","type":"oM2M-Application","z":"759a2133.598a9","xSCL":"a95704e1.2d63b8","xA":"f57392ea.4f537","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":285.6666946411133,"y":148.00000381469727,"wires":[["f6820217.7f7d5"]]},{"id":"f6820217.7f7d5","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":464.6666793823242,"y":138.00000381469727,"wires":[["adbd3400.4f476"]]},{"id":"adbd3400.4f476","type":"debug","z":"759a2133.598a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":635.6666831970215,"y":149.00000381469727,"wires":[]},{"id":"2f3ad985.00d2c6","type":"inject","z":"759a2133.598a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107.66667175292969,"y":297,"wires":[["b856d7ca.000c88"]]},{"id":"b856d7ca.000c88","type":"oM2M-Descriptor-Container","z":"759a2133.598a9","xSCL":"3872d7cc.c7bfa8","xA":"ac0319d1.306a98","x":323.6666946411133,"y":301.00000762939453,"wires":[["2e8fc726.8797f8"]]},{"id":"2e8fc726.8797f8","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":527.6666870117188,"y":311,"wires":[["b7742f3c.3bccb"]]},{"id":"b7742f3c.3bccb","type":"debug","z":"759a2133.598a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704.6666831970215,"y":307.00000953674316,"wires":[]},{"id":"91bb64f2.ceb9f8","type":"oM2M-Descriptor-ContentInstance","z":"759a2133.598a9","xSCL":"f1caea07.07d248","xA":"f6b813fc.59d63","obixType":"GatewayApplication","obixLocation":"NCKU","x":320.6666946411133,"y":396.00001096725464,"wires":[["92af1ba6.c0e818"]]},{"id":"7dc08f54.d9102","type":"inject","z":"759a2133.598a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.66667175292969,"y":397,"wires":[["91bb64f2.ceb9f8"]]},{"id":"92af1ba6.c0e818","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":530.6666793823242,"y":400.0000114440918,"wires":[["a1bcac1f.0981e"]]},{"id":"a1bcac1f.0981e","type":"debug","z":"759a2133.598a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702.6666831970215,"y":397.0000114440918,"wires":[]},{"id":"8c3642d3.db392","type":"inject","z":"759a2133.598a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":83.66667175292969,"y":500,"wires":[["f87c1457.648628"]]},{"id":"f87c1457.648628","type":"oM2M-Data-Container","z":"759a2133.598a9","xSCL":"a95704e1.2d63b8","xA":"f57392ea.4f537","maxNrOfInstances":"10","obixAnnounce":true,"x":273.66668701171875,"y":491,"wires":[["2622a012.83c74"]]},{"id":"2622a012.83c74","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":473.66668701171875,"y":489,"wires":[["24198908.7fde66"]]},{"id":"24198908.7fde66","type":"debug","z":"759a2133.598a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":646.6666870117188,"y":495,"wires":[]},{"id":"7d21b9cf.926528","type":"inject","z":"759a2133.598a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80.66667175292969,"y":577,"wires":[["74c7e9a.3800f18"]]},{"id":"d84eab24.b4c8f8","type":"oM2M-Data-ContentInstance","z":"759a2133.598a9","xSCL":"3872d7cc.c7bfa8","xA":"f57392ea.4f537","obixCategory":"","x":367.6666946411133,"y":602.0000171661377,"wires":[["a1af849b.3c8e58"]]},{"id":"a1af849b.3c8e58","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":528.6666870117188,"y":567,"wires":[["b6b9e047.7a18a"]]},{"id":"b6b9e047.7a18a","type":"debug","z":"759a2133.598a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":687.6666870117188,"y":561,"wires":[]},{"id":"74c7e9a.3800f18","type":"function","z":"759a2133.598a9","name":"Mydata","func":"var data={\n    type:'string',\n    unit:'fake data',\n    data:'Hello world'\n};\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":180.66668701171875,"y":641,"wires":[["d84eab24.b4c8f8"]]},{"id":"5f1d1b2.ca2b6e4","type":"http in","z":"759a2133.598a9","name":"Post sensor data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":101,"y":685.0000190734863,"wires":[["400f7ac0.81a494","6d1914d.e6d3eec"]]},{"id":"400f7ac0.81a494","type":"function","z":"759a2133.598a9","name":"Input data","func":"var data = {\ntype:'string',\nunit:'fake data',\ndata: msg.payload.name\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":272.666690826416,"y":693.000020980835,"wires":[["a72549f6.80b308"]]},{"id":"1e1d7e88.fa9231","type":"http request","z":"759a2133.598a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":658.6666831970215,"y":667.000020980835,"wires":[["5e908ec0.27fa5"]]},{"id":"a72549f6.80b308","type":"oM2M-Data-ContentInstance","z":"759a2133.598a9","xSCL":"3872d7cc.c7bfa8","xA":"f57392ea.4f537","obixCategory":"","x":454.6666793823242,"y":667.0000190734863,"wires":[["1e1d7e88.fa9231"]]},{"id":"6d1914d.e6d3eec","type":"http response","z":"759a2133.598a9","name":"","statusCode":"","headers":{},"x":283.666690826416,"y":753.0000228881836,"wires":[]},{"id":"5e908ec0.27fa5","type":"debug","z":"759a2133.598a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":799.6666870117188,"y":702.000020980835,"wires":[]},{"id":"a95704e1.2d63b8","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"f57392ea.4f537","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"},{"id":"3872d7cc.c7bfa8","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"ac0319d1.306a98","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"},{"id":"f1caea07.07d248","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"f6b813fc.59d63","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]