LAB3/NSCL.json
[{"id":"19765dd3.9eba02","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b90443d3.cf5b2","type":"inject","z":"19765dd3.9eba02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.66667175292969,"y":73,"wires":[["e8c176a3.d90938"]]},{"id":"e8c176a3.d90938","type":"oM2M-Application","z":"19765dd3.9eba02","xSCL":"2c6d4ef.763beb2","xA":"cd8faa.7c5a9058","obixType":"Network Application","obixCategory":"demo","obixLocation":"Internet cloud","obixAnnounce":true,"x":290.6666946411133,"y":71.00000190734863,"wires":[["ac2e1f85.78edc"]]},{"id":"ac2e1f85.78edc","type":"http request","z":"19765dd3.9eba02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":465.66668701171875,"y":71,"wires":[["a8c81305.8ecc4"]]},{"id":"a8c81305.8ecc4","type":"debug","z":"19765dd3.9eba02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":641.6666870117188,"y":68,"wires":[]},{"id":"fb634be0.dbe3a8","type":"inject","z":"19765dd3.9eba02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123.66667175292969,"y":155,"wires":[["f01e5f39.b936c"]]},{"id":"f01e5f39.b936c","type":"oM2M-Subscription","z":"19765dd3.9eba02","xSCL":"2c6d4ef.763beb2","xA":"cd8faa.7c5a9058","contactPath":"/notification","filterType":"","filterCriteria":"content","x":301.6666946411133,"y":147.00000381469727,"wires":[["5f942025.d1f73"]]},{"id":"fbcd5270.efcd9","type":"debug","z":"19765dd3.9eba02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680.6666870117188,"y":143.00000381469727,"wires":[]},{"id":"5f942025.d1f73","type":"http request","z":"19765dd3.9eba02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":488.6666793823242,"y":142.00000381469727,"wires":[["fbcd5270.efcd9"]]},{"id":"4a394084.69703","type":"xml","z":"19765dd3.9eba02","name":"","property":"payload","attr":"","chr":"","x":393.6666946411133,"y":237.00000667572021,"wires":[["2d044443.14c03c"]]},{"id":"47173626.c131a8","type":"http response","z":"19765dd3.9eba02","name":"","statusCode":"","headers":{},"x":411.6666946411133,"y":319.00000953674316,"wires":[]},{"id":"2d044443.14c03c","type":"function","z":"19765dd3.9eba02","name":"extact data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":560.6666793823242,"y":235.00000667572021,"wires":[["4ed46252.7831dc","650851d1.e6b74"]]},{"id":"4ed46252.7831dc","type":"debug","z":"19765dd3.9eba02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.6666870117188,"y":221.0000057220459,"wires":[]},{"id":"1a125914.e2a5c7","type":"http in","z":"19765dd3.9eba02","name":"Listen to HTTP notification","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":159.6666717529297,"y":246.00000762939453,"wires":[["4a394084.69703","47173626.c131a8"]]},{"id":"650851d1.e6b74","type":"file","z":"19765dd3.9eba02","name":"","filename":"C:\\Users\\Yosoro\\Desktop\\notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":676.6666870117188,"y":303.00000953674316,"wires":[["f0b41d04.3eff4"]]},{"id":"25d3149e.1323bc","type":"http in","z":"19765dd3.9eba02","name":"Read XML file via HTTP get","url":"/readSensorData","method":"get","upload":false,"swaggerDoc":"","x":161.6666717529297,"y":378,"wires":[["3c1be4aa.affcbc"]]},{"id":"3c1be4aa.affcbc","type":"file in","z":"19765dd3.9eba02","name":"","filename":"C:\\Users\\Yosoro\\Desktop\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":487.66667556762695,"y":373.0000114440918,"wires":[["cb923821.b92c58"]]},{"id":"cb923821.b92c58","type":"xml","z":"19765dd3.9eba02","name":"","property":"payload","attr":"","chr":"","x":666.6666870117188,"y":383.0000114440918,"wires":[["855f6753.87ef88"]]},{"id":"855f6753.87ef88","type":"http response","z":"19765dd3.9eba02","name":"","statusCode":"","headers":{},"x":806.666690826416,"y":387.0000114440918,"wires":[]},{"id":"f0b41d04.3eff4","type":"debug","z":"19765dd3.9eba02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":872.666690826416,"y":303.00000953674316,"wires":[]},{"id":"2c6d4ef.763beb2","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"cd8faa.7c5a9058","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]